* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #405189;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  width: 70%;
  overflow: auto;
  max-width: 1440px;
  margin: 0 auto;
  // display: flex;
  // justify-content: center;
  padding: 2rem 0;
}

.main-wrap {
  .cards-container {
    margin-top: 50px;
  }
}